[Unit]
Description=Smart Meter API service
After=network.target

[Service]
ExecStart=/home/pi/smartmeter/API/venv/bin/python /home/pi/smartmeter/API/api.py
WorkingDirectory=/home/pi/smartmeter/API
Restart=always
User=pi

[Install]
WantedBy=multi-user.target