[Unit]
Description=uWSGI instance to serve the smart meter api
After=network.target

[Service]
Environment="PATH=/home/pi/smartmeter/API/venv/bin"
WorkingDirectory=/home/pi/smartmeter/API
Restart=always
User=pi
Group=www-data
ExecStart=/home/pi/smartmeter/API/venv/bin/uwsgi --ini api.ini

[Install]
WantedBy=multi-user.target